:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#c0c0c0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito:#3c92fa;
    --botao-roxo-clique:red;

}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{/*se a imagem fizer sentido para o usuario, uar a tag img para colocar o alt(texto alternativo) caso contrario,usar background-image: url/*/
    background-image: url("./assets/Background.png"); /*imagem de fundo, nao sobrepoe*/
    background-repeat: no-repeat; /*nao repetir imagem*/
    background-size: contain;/*tamanho do background, tamanho do container inteiro*/
    align-items: center;
    text-align:center ;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%; /*ocupando espaços de colunas, no caso 50 de 50*/
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    text-decoration:none;
    padding: 1em;/*1em medida baeada no tamnho da fonte*/
    color: var(--branco-principal);
    display: block;/*ocupar o bloco inteiro, anteriormente estava ocupando pequeno espaço na mesma linha */
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.container__botao:active{
    background-color: var(--botao-roxo-clique);
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size:28px ;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;/*espaçamento relógio cima para baixo,direita para esquerda,baixo para cima, esquerda para direita*/
}

.container__caixa{
    margin:0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top:1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;/*justificar o tamanho da tela*/
    list-style-type: none;/*retirar estilo asteristico da lista*/
    margin: 5em 0;
    
}

.dispositivos{
    text-align: center;/*alinhar texto*/
}   

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;  
}

.rodape_texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}


/*ul a*/.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: var(--botao-roxo-clique);
}